.Ourteam {
    display: flex;
    flex-direction: column;
    align-items: center;       
    justify-content: center;   
    /* background: var(--background); */
    height: fit-content;
    padding: 6rem 0;


}

.TeamUser {
    display: flex;

    gap: 4rem;
}

.TeamUser h1 {
    font-size: 35px;
}

.UserText {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    gap: 2rem;

}
.UserText p {
width: 40rem;
}

.Ourteam h2 {
    margin-bottom: 13rem;
}


.Team {
    display: flex !important;
    position: absolute;
    top:-50%;          
    left: 50%;       
    transform: translateX(-50%); 
    height: 14rem;
    border-bottom: 4px solid var(--cyan);
    border-radius: 10px;
    background-color: #F4F6FA;
    box-shadow: 1px 3px 10px rgba(7, 139, 216, 0.1);
}



.Team1 {
        display: flex !important;
    position: absolute;
    top:-15%;          
    left: 70%;  
    height: 10rem;  
    display: none !important;
}

.ourteam-card {
    /* padding-top: 7.5rem; */
    position: relative;
    width: 20rem;
    height: 17rem;
}

.ourteam-card:hover {
    /* padding-top: 6rem; */
    /* padding-bottom: 0; */
}

.ourteam-card img {
    display: none;
}

.ourteam-card-Group{
    position: absolute;
    bottom: 1.5rem;

}

.CaruselTeam {
    display: flex;
    align-items: center;
    /* gap: 4rem; */
}

.bubble:hover {
scale: 1.1;
transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.bubble {
transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}